{% extends 'pages/base.html' %}
{% block title %}
Add painting
{% endblock title %}


{% block content %}
<h1 id="add_painting1"><i class="fa-solid fa-plus"></i>Thêm Mục</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="add_painting2">
        <p>Name: {{ form.name }}</p>
    </div>

    <div id="add_painting3">
        <p>Discription: {{form.discription}}</p>
        <p><i class="fa-solid fa-image"></i>  Image: {{form.image}}</p>
    </div>

    
    <button type="submit">Save</button>
    
</form>

{% endblock content %}