<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}
        
        {% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'base3.css'%}">
        <link rel="stylesheet" href="{% static 'home2.css'%}">
        <link rel="stylesheet" href="{% static 'dangnhap.css'%}">
        <link rel="stylesheet" href="{% static 'login.css'%}">
        <link rel="stylesheet" href="{% static 'register1.css'%}">
        <link rel="stylesheet" href="{% static 'search3.css'%}">
        <link rel="stylesheet" href="{% static 'painting.css'%}">
        <link rel="stylesheet" href="{% static 'painting_list.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <div id="header">
            <div id="logo">
                betoni
            </div>
            <div id="search">
                <form action="{% url 'search' %}" id="search-box" method="POST">
                    {% csrf_token %}
                    <input type="search" id="search-text" role="search" placeholder="search" aria-label="search" name="searched">
                    <button type="submit"><i class="fa fa-magnifying-glass"></i></button>
                </form>
            </div>
            
            <!-- Phong cách -->
            <select name="style" id="style">
                <option value="">-- Chọn phong cách --</option>
                <option value="Văn viết">Văn viết</option>
                <option value="Văn nói">Văn nói</option>
            </select>
            
            <!-- Chủ đề -->
            <select name="topic" id="topic">
                <option value="">-- Chọn chủ đề --</option>
                <option value="Du lịch">Du lịch</option>
                <option value="Đời thường">Đời thường</option>
                <option value="Kinh tế">Kinh tế</option>
                <option value="Y tế">Y tế</option>
            </select>
            <ul id="nav-dk">
                {% if user.username %}
                <li><a href="{% url 'logout'%}">Đăng xuất</a></li>
                <li><a href="{% url 'painting_list'%}">list</a></li>
                {% else %}
                <li><a href="{% url 'dangnhap' %}">Đăng nhập</a></li>
                <li><a href="{% url 'register' %}">Đăng kí</a> </li>
                {% endif %}
            </ul>
        </div>
        <div id="container">
            <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            {% block content %}
            
            {% endblock content %}

        </div>
        <div id="footer">
            <div id="footer-one">
                <div class="last">
                    <div class="pap">POLICIES</div>
                    <div>
                        <ul class="footer-list">
                            <li><a href="">Cookies Policy</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="last">
                    <div class="pap">QUICK LINKS</div>
                    <div>
                        <ul class="footer-list">
                            <li><a href="">International offices</a></li>
                            <li><a href="">Rights and Permissions</a></li>
                            <li><a href="">Teaching resources</a></li>
                            <li><a href="">Working for Macmillan</a></li>
                            <li><a href="">Write for us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="last">
                    <div class="pap">OTHER MACMILLAN SITES</div>
                    <div>
                        <ul class="footer-list">
                            <li><a href="">Springer Nature</a></li>
                            <li><a href="">Palgrave Macmillan</a></li>
                            <li><a href="">Pan Macmillan</a></li>
                        </ul>
                    </div>
                </div>
                <div class="last">
                    <div class="pap">POPULAR LEARNING SITES</div>
                    <div>
                        <ul class="footer-list">
                            <li><a href="">Macmillan English Dictionary</a></li>
                            <li><a href="">Macmillan Practice Online</a></li>
                            <li><a href="">Onestopenglish</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="footer-icon">
                <ul id="icon">
                    <li><a href=""><i class="fa-brands fa-twitter"></i></li>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></li>
                    <li><a href=""><i class="fa-brands fa-github"></i></li>                           
                </ul>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>