{% extends 'pages/base.html' %}
{% block title %}
Edit painting
{% endblock title %}

{% block content %}

<div class="add_center">
    <div class="add_center-child1">
        <h1 id="edit_painting1"><i class="fa-solid fa-plus"></i> Edit </h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="add_painting3">
                <p>Name: {{ form.name }}</p>
            </div>
            <div  class="add_painting3">
                <p>Discription: {{form.discription}}</p>
                <p><i class="fa-solid fa-image"></i>  Image: {{form.image}}</p>
            </div>


                <button type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock content %}