{% extends 'pages/base.html' %}
{% block title %} home

{% endblock title %}
{% block content %}
     <div id="home-content1">
        <div id="home-pap">betoni.com</div>
        <div id="home-start">
                <div class="home-title">Chào mừng đến với trang web từ điển Việt-Nhật</div>
        </div>
     </div>  
     <div id="home-content2">
        <div class="home-content2-child1">
                <div class="home-child1-pap">Giới thiệu về từ điển Việt-Nhật</div>
                <div class="home-child1-description">Từ điển Việt-Nhật là công cụ hữu ích giúp người dùng tra cứu và dịch các từ vựng, cụm từ từ tiếng Việt sang tiếng Nhật và ngược lại. Từ điển cung cấp thông tin chi tiết về nghĩa, cách sử dụng và ví dụ về từ vựng trong các ngữ cảnh khác nhau</div>
        </div>
        <div class="home-content2-child1">
                <div class="home-child1-pap">Giới thiệu về Nhật Bản</div>
                <div class="home-child1-description">Nhật Bản là một đất nước nằm ở Đông Á, nổi tiếng với văn hóa đa dạng, kỹ thuật tiên tiến và cảnh quan thiên nhiên tuyệt đẹp. Nhật Bản có một nền văn hóa đặc trưng, từ truyền thống samurai và geisha đến nhạc cổ điển, nghệ thuật manga và anime phổ biến trên toàn cầu.</div>
        </div>
        <div class="home-content2-child1">
                <div class="home-child1-pap">Tại sao nên sử dụng từ điển Việt-Nhật?</div>
                <div class="home-child1-description">Từ điển Việt-Nhật là công cụ hữu ích cho những người đang học tiếng Nhật hoặc có nhu cầu giao tiếp, làm việc và du lịch tại Nhật Bản. Từ điển giúp cải thiện kỹ năng từ vựng, hiểu rõ hơn về ngữ pháp và giúp bạn tìm hiểu văn hóa Nhật Bản thông qua các ví dụ và thông tin bổ sung.</div>
        </div>
     </div> 


{% endblock content %}