{% extends 'pages/base.html' %}
{% block title %}
Painting Detail
{% endblock title %}

{% block content %}
<div>
    <h1 id="paintinglist_pap">Painting List</h1>
</div>
<ul>
    {% for painting in paintings %}
    <li>
        <img src="{{ painting.image.url }}"  width="300">
        <h2>{{ painting.name }}</h2>
        <p>{{ painting.description }}</p>
        <p>Created at: {{ painting.date }}</p>
        <a href="{% url 'edit_painting' painting.pk %}">Edit</a>
        <a href="{% url 'delete_painting' painting.pk %}">Delete</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'add_painting' %}">Add New Painting</a>
{% endblock content %}
