{% extends 'pages/base.html' %}
{% block title %}
Painting Detail
{% endblock title %}

{% block content %}
<div id="painting_list0">
    <h1 id="paintinglist_pap"><i class="fa-solid fa-list"></i>  Painting List</h1>
</div>
    <div class="painting_list1">
<ul>
    {% for painting in paintings %}
    <li id="painting_list-child">
        <div id="painting_list2">
            <img src="{{ painting.image.url }}"  width="150px">
        </div>
            <div id="paintingname_1">
                <h2>{{ painting.name }}</h2>
                <p>{{ painting.description }}</p>
                <p><i class="fa-solid fa-ellipsis-vertical"></i>  Created at: {{ painting.date }}</p>
            

        
                <a href="{% url 'edit_painting' painting.pk %}"><i class="fa-solid fa-pen-to-square"></i>  Edit</a> </br>
            
                
                <a href="{% url 'delete_painting' painting.pk %}"><i class="fa-solid fa-delete-left"></i>  Delete</a>
            
            </div>
        
            
    </li>
    {% endfor %}
</ul>
    </div>  
<div id="paintinglist_6"> 
    <a href="{% url 'add_painting' %}"><i class="fa-solid fa-plus"></i> Add New Painting</a>
</div>
{% endblock content %}
