{% extends 'pages/base.html' %}
{% block title %}
Painting Detail
{% endblock title %}

{% block content %}
<div class="painting-details">
    <div id="search-start">
        <div id="search-content1">
             <div id="search-child1">
                  <img src="{{painting.image.url}}">
             </div>
             <div id="search-child2">
                  <p><i class="fa fa-headphones"></i> &nbsp;{{painting.discription}}</p>
                  <p>{{painting.name}}</p>
                  <div id ="search-child3">
                       <a href="{% url 'search_history' %}"><p>Xem toàn bộ ngữ cảnh &nbsp;<i class="fa-solid fa-arrows-up-down-left-right"></i></p></a>
                       <a href="#"><p>thảo luận &nbsp;<i class="fa fa-comment"></i></p></a>
                  </div>
             </div>
        </div>
   </div>
</div>

<div class="comments-section">
    <h2>Bình luận</h2>
    <ul>
        {% for comment in painting.coments.all %}
        <li>
            <p> {{ comment.author }}</p>
            <p>{{ comment.body }}</p>
            <p>{{ comment.date }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="add-comment">
    {% if user.username %}
    <form action="{% url 'painting_detail' painting.pk %}" method="POST">
        {% csrf_token %}
        {{form.body}}
        <br>
        <button type="submit">Gửi</button>
    </form>
    {% else %}
    {% endif %}
</div>
{% endblock content %}