{% extends 'pages/base.html' %}
{% block title %}
search
{% endblock title %}

{% block content %}
<div id="search-wraper">
    {% if searched %}
          {% if keys %}
                    {% for key in keys %}
                    <div id="search-start">
                         <div id="search-content1">
                              <div id="search-child1">
                                   <img src="{{key.image.url}}">
                              </div>
                              <div id="search-child2">
                                   <p><i class="fa fa-headphones"></i> &nbsp;{{key.discription}}</p>
                                   <p>{{key.name}}</p>
                                   <div id ="search-child3">
                                        <a href="{% url 'search_history' %}"><p>Xem toàn bộ ngữ cảnh &nbsp;<i class="fa-solid fa-arrows-up-down-left-right"></i></p></a>
                                        <a href="{% url 'painting_detail' key.pk %}"><p>thảo luận &nbsp;<i class="fa fa-comment"></i></p></a>
                                   </div>
                                   <div id="search_child4">
                                        <a href="#" onclick="showReportModal()"><i class="fa fa-triangle-exclamation"></i> báo cáo</a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    {% endfor %}
          {% else %}
          <h2> result not found </h2>
          {% endif %}
    {% else %}
    <h1>Please enter a search keyword</h1>
    {% endif %}
</div>



<div id="reportModal" class="modal">
    <div class="modal-content">
        <!-- Thêm nút "x" để đóng modal -->
        <span class="close" onclick="closeReportModal()"><i class="fa fa-arrow-turn-right"></i></span>
        <h2>Chọn loại báo cáo</h2>
        <label>
            <input type="radio" name="reportType" value="reportError">
            Báo cáo lỗi sai của câu
        </label><br>
        <label>
            <input type="radio" name="reportType" value="contributeSentence">
            Đóng góp câu mới
        </label><br>
        <button onclick="continueReport()">Kết tiếp</button>
    </div>
</div>

<div id="newBox1"  class="modal" style="display: none;">  
    <span class="close" onclick="closeNewBoxModal()"><i class="fa fa-arrow-turn-right"></i></span>
    <h2>Chọn lỗi sai:</h2><br>
    <label><input type="radio" name="errorType" value="dich_sai" />Dịch sai nghĩa tiếng Việt</label><br>
    <label><input type="radio" name="errorType" value="sai_ngu_phap" />Sai ngữ pháp</label><br>
    <label><input type="radio" name="errorType" value="loi_khac" />Lỗi khác</label><br>
    <textarea id="errorDescription" placeholder="Hãy cho tôi biết về lỗi sai..."></textarea><br>
    <button onclick="submitReport()">Hoàn tất</button>
</div>

<div id="contributeBox" class="modal" style="display: none;">
    <span class="close" onclick="closeContributeBoxModal()"><i class="fa fa-arrow-turn-right"></i></span>
    <h3>Nhập câu tiếng Nhật:</h3>
    <textarea id="japaneseSentence" placeholder="Nhập câu tiếng Nhật..."></textarea>
    <h3>Nhập câu tiếng Việt tương ứng:</h3>
    <textarea id="vietnameseSentence" placeholder="Nhập câu tiếng Việt..."></textarea><br>
    <button onclick="submitContribute()">Hoàn tất</button>
</div>

<script>
    function showReportModal() {
        const modal = document.getElementById('reportModal');
        modal.style.display = 'block';
    }

    function continueReport() {
        const reportType = document.querySelector('input[name="reportType"]:checked').value;
        if (reportType === 'contributeSentence') {
            // Hiển thị box đóng góp câu mới
            const contributeBox = document.getElementById('contributeBox');
            contributeBox.style.display = 'block';
            const reportBox = document.getElementById('newBox1');
            reportBox.style.display = 'none';

        } else if (reportType === 'reportError') {
             // Hiển thị box báo cáo lỗi sai
             const reportBox = document.getElementById('newBox1');
             reportBox.style.display = 'block';
             const contributeBox = document.getElementById('contributeBox');
             contributeBox.style.display = 'none';
        }
    }

    function closeReportModal() {
        const modal = document.getElementById('reportModal');
        modal.style.display = 'none';
    }

    function closeNewBoxModal() {
        const reportBox = document.getElementById('newBox1');
        reportBox.style.display = 'none';
    }

    function closeContributeBoxModal() {
        const contributeBox = document.getElementById('contributeBox');
        contributeBox.style.display = 'none';
    }
   

    function showThankYouMessage(message) {
        alert(message);

        // Tự đóng box sau khi hiển thị thông báo
        closeReportModal();
        closeNewBoxModal();
        closeContributeBoxModal();
    }

    function submitReport() {
        // ... Đoạn mã xử lý gửi báo cáo lỗi ...

        showThankYouMessage('Cảm ơn bạn đã báo cáo lỗi sai của câu!');
    }

    function submitContribute() {
        // ... Đoạn mã xử lý gửi đóng góp câu mới ...

        showThankYouMessage('Cảm ơn bạn đã đóng góp câu mới!');
    }
   
    
</script>

{% endblock content %}

     