#add_painting1 {
    color: #3C7DFA;
    font-weight: 300;
    font-style: italic;
    margin: 20px;
}

#add_painting2 p {
    color: darkred;
    font-weight: 600;
    left: 10px;
}

#add_painting3 p {
        color: brown;
        font-weight: 600;
        left: 15px;
 }

button {
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    padding: 10px 20px;
    border: 1px brown solid;
    transition: 0.25s;
    outline: none;
    box-sizing: border-box;
    background: transparent;
}

button:hover {
    background: #D6AB54;
}

#add_button button:active {
    background-color: #D6AB54;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }