#add_painting1 {
    color: #3C7DFA;
    font-weight: 300;
    font-style: italic;
    margin: 20px;
}

#add_painting2 p {
    color: darkred;
    font-weight: 500;
    left: 10px;
}

#add_painting3 p {
        color: brown;
        font-weight: 500;
        left: 15px;
     }

button {
    cursor: pointer;
    color: black;
    padding: 10px 20px;
    border: none;
    transition: 0.25s;
    outline: none;
    box-sizing: border-box;
    background: transparent;
}

button:hover {
    background: #D6AB54;
}