#edit_paint {
    text-align: center;
    padding: 20px;
}



#edit_painting1 {
    color: darkred;
    font-weight: 400;
    font-style: italic;
}

#edit_painting2 p{
    color: darkred;
    font-weight: 700;
    left: 10px;
    font-style: italic;
}

#edit_painting3 p{
    color: brown;
    font-weight: 700;
    font-style: italic;
}
