#paintinglist_pap {
    font-weight: 500;
    color: #7368FA;
    font-style: initial;
    margin: 15px;
}

#painting_list1 {
    box-sizing: border-box;
    color: burlywood;
}

#painting_list2 {
    padding-left: 100px;
    display: flex;
    border-radius: 20px;
    width: 50px;
}

#paintingname_1 {
    margin: 0;
    color: rgb(68, 65, 65);
    font-weight: 500;
    right: 0;
    position: absolute;
    width: 700px;
}

#painting_list3 p {
    font-weight: 500;
    margin: 50px;
    padding: 0; 
    right: 0;
    top: 20;
    position: absolute;
    width: 650px;
}

#painting_list4 a {
    text-decoration: none;
    line-height: 35px;
    color: #D6905C;
    right: 0;
    top: 20;
    position: absolute;
    width: 200px;
}

#painting_list5 a {
    text-decoration: none;
    line-height: 35px;
    color: indianred;
    right: 0;
    top: 20;
    position: absolute;
    width: 200px;
}

#paintinglist_6 a{
    color: #7368FA;
    line-height: 35px;
    text-overflow: unset;
    transition: none;
    text-decoration: none;
}
