#paintinglist_pap {
    font-weight: 500;
    color: #7368FA;
    font-style: initial;
    margin: 15px;
}

#painting_list1 {
    color: burlywood;
}


#painting_list-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
