#search-wraper{
    width: 100%;
    min-height:500px;
}
#search-start{
    width:80%;
    height:auto;
    margin:0px auto;
}
#search-content1{
    width: 90%;
    height:150px;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px rgba(160, 157, 157,0.5) solid;
}
#search-child1{
    width:20%;
    height:auto;
    padding:5px;
    margin-bottom:20px;
}
#search-child1 img{
    width: 100%;
    height:auto;
}
#search-child2 {
    width:80%;
    height:auto;
    margin-left:20px;
}
#search-child2 p{
    font-family: 'Times New Roman', Times, serif;
    font-size:1.1em;
}
